#login {
    border: 3px solid black;
    width: 360px;
    padding: 20px;
    margin: 200px auto;
    box-shadow: 10px 5px 5px #6c757d;
}
#loginBody
{
    background-image: url("https://pbs-prod.linustechtips.com/monthly_2021_03/921864700_LinusWindowsXP.thumb.png.70c2f068d8be64f3ec11c33c96bda25d.png");
}